@layout('layout/default')

@section('content')
<div class="container">
  {{ style('style-homepage') }}
  {{ style('style') }}
  <h1>Create your accounts
    @if(auth.user)
      {{ auth.user.username }}
    @endif
  </h1>
</div>
@endsection
